<%= bootstrap_form_with(model: [@lounge, @membership]) do |form| %>
  <%= form.text_field :first_name, floating: true %>
  <%= form.text_field :last_name, floating: true %>
  <%= form.email_field :email, floating: true %>
  <%= form.text_field :phone_number, floating: true %>

  <%= form.check_box :do_not_text do %>
    Do not text? <span class='text-muted'>(check if yes)
  <% end %>

  <%= form.check_box :do_not_email do %>
    Do not email? <span class='text-muted'>(check if yes)
  <% end %>

  <div>
    <%= form.submit id:'update_lounge_button' %>
  </div>
<% end %>
