<%= bootstrap_form_with(model: [@lounge, @membership]) do |form| %>
  <% if membership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :first_name, floating: true %>
  <%= form.text_field :last_name, floating: true %>
  <%= form.email_field :email, floating: true %>
  <%= form.text_field :phone_number, floating: true %>

  <%= form.check_box :do_not_text do %>
    Do not text? <span class='text-muted'>(check if yes)
  <% end %>

  <div>
    <%= form.submit id:'update_lounge_button' %>
  </div>
<% end %>
