<%= bootstrap_form_with(model: [@lounge, @special_offer]) do |form| %>
  <% if special_offer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(special_offer.errors.count, "error") %> prohibited this special_offer from being saved:</h2>

      <ul>
        <% special_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name, floating: true %>
  <%= form.date_field :start_date, floating: true %>
  <%= form.date_field :end_date, floating: true %>

  <label for="special-offer-end-date" class="form-label">Offer Type</label>
  <select name="special_offer[offer_type]" class="form-select mb-3" id="special_offer_offer_type"><option selected="selected" value="BOGO (Buy one, get one)">BOGO (Buy one, get one)</option>
  <option value="Holiday">Holiday</option>
  <option value="Brand Discount">Brand Discount</option>
  <option value="General Discont">General Discont</option>
  </select>

  <%= form.text_field :offer_code, floating: true %>
  <%= form.text_area :description, floating: true %>

  <%= form.check_box :members_only do %>
    Members Only? <span class="text-muted">(check if yes)</span>
  <% end %>

  <div>
    <%= form.submit id:'update_lounge_button' %>
  </div>
<% end %>
