<%= bootstrap_form_with(model: [@lounge, @event]) do |form| %>
  <%= form.text_field :name, floating: true %>

  <select name="event[event_type]" class="form-select mb-3" id="event_event_type"><option value="Live Music">Live Music</option>
  <option value="Whiskey Tasting">Whiskey Tasting</option>
  <option value="Cigar Brand Event">Cigar Brand Event</option>
  <option value="Holiday">Holiday</option>
  <option value="Sports">Sports</option>
  <option value="Virtual">Virtual</option></select>

  <%= form.date_field :event_date, min: Date.today, floating: true %>    
  <%= form.text_field :event_url, floating: true %>
  <%= form.text_area :event_description, hide_label: true, rows: 10, placeholder: 'Describe the event...' %>
  <%= form.text_field :zoom_code, floating: true %>
  <%= form.number_field :maximum_capacity, min: 0, floating: true %>
  <%= form.time_field :start_time, value: "%H:%M", floating: true %>
  <%= form.time_field :end_time, value: "%H:%M", floating: true %>
  <%= form.check_box :rsvp_needed do %>
    RSVP Needed?
  <% end %>

  <%= form.check_box :is_virtual do %>
    Is the event virtual?
  <% end %>

  <%= form.check_box :members_only do %>
    Members Only?
  <% end %>

  <div class="input-group">
    <% if event.flyer.present? %>
      <div id="<%= dom_id(event, :flyer) %>">
        <%= image_tag event.flyer, size: "300x300" %>
          <%= link_to "Remove flyer", event_event_flyer_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      <% end %>
    <%= form.file_field :flyer %>
  </div>

  <div>
    <%= form.submit id:'update_lounge_button' %>
  </div>
<% end %>
