<!DOCTYPE html>
<html class='h-100'>
  <head>
    <title>CodeHrf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Bootstrap Icons CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

    <%= javascript_importmap_tags %>
  </head>

  <body class='d-flex flex-column h-100'>
    <div class='container'>
      <%= render 'shared/navbar' %>
        <div class='row'>
          <div class='col-md-12'>
            <%= turbo_frame_tag :modal %>
            <%= yield %>
          </div>
        </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
